@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap');

@import url('./bootstrap/bootstrap.css');

:root{
    --primary_color_light : #ff9bac;
    --primary_color_default : #f53f5e;
    --primary_color_dark : #af1e36;

    --font_color_light : #636363;
    --font_color_default : #3a3a3a;
    --font_color_dark : #1f1f1f;

    --white : #ffffff;
    --white_dark : #efefef;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    background-origin: padding-box;
    border: none;
}

body {
    font-size: 15px;
    font-family: 'Poppins';
    color: var(--font_color_default);
    text-align: left;
}

button {
    padding: 10px 15px;
    color: var(--white);
    background-color: var(--primary_color_default);
}

button:hover {
    background-color: var(--primary_color_dark);
}

h1 {
    font-weight: 500;
    color : var(--primary_color_dark);
    font-size: 35px;
    margin: 30px 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.card {
    border-radius: 0;
}

.card-img-top {
    border-radius: 0;
}

/* CONTENT STYLE */
.content {
    max-width: 100vw;
}

/* NAVBAR STYLE */
.navbar {
    max-width: 100%;
    margin: 0 auto;
    padding: 15px 15px;
    border-bottom: 1px solid var(--white_dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar .logo {
    font-size: 25px;
    font-weight: 500;
    color: var(--primary_color_default);
    text-transform: uppercase;
}

/* HERO STYLE */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    line-height:20px;
    overflow:hidden;
    /* white-space: pre; */
    background-image: url('https://images.squarespace-cdn.com/content/v1/5b553895697a98cf2cef2bc6/1597868990014-ILJ1POL9Y4YJMD6WA5IT/Blog+Hero+Final.001.jpeg?format=2500w');
}

.hero p {
    max-width: 1000px;     
}

.hero h1{
    color: var(--white);
}

/* BLOG LIST STYLE */  

.blog-list .card {
	margin: 5px;
}

/* BLOG PREVIEW STYLE */
.blog-preview {
    
}

.blog-title{
    font-size: 20px;
    font-weight: 600;
    color: var(--primary_color_default);
}

.blog-author{
    font-size: 12px;
    font-weight: 600;
    color: var(--font_color_light);
    padding-left: 20px;
    font-style: italic;
}

.blog-body{
    font-size: 15px;
    font-weight: 500;
    padding-left: 20px;
}

/* FOOTER STYLES */

.footer {
    padding: 5px 30px;
    background: var(--font_color_dark);
    color: var(--white) !important;
    text-align: center;
    bottom: 0;
}


