@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap');

:root{
    --primary_color_light : #fd6c84;
    --primary_color_default : #f53f5e;
    --primary_color_dark : #af1e36;

    --font_color_light : #636363;
    --font_color_default : #3a3a3a;
    --font_color_dark : #1f1f1f;

    --white : #ffffff;
    --white_dark : #efefef;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    background-origin: padding-box;
    border: none;
}

body {
    font-size: 15px;
    font-family: 'Poppins';
    color: var(--font_color_default);
}

button {
    padding: 5px 15px;
    color: var(--white);
    background-color: var(--primary_color_default);
}

button:hover {
    background-color: var(--primary_color_dark);
}

/* NAVBAR STYLE */
.navbar {
    max-width: 80%;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: 1px solid var(--white_dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar .logo {
    font-size: 25px;
    font-weight: 500;
    color: var(--primary_color_default);
    text-transform: uppercase;
}



/* FOOTER STYLES */

.footer {
    width: 100%;
    padding: 5px 30px;
    background: var(--font_color_dark);
    color: var(--white) !important;
}


